<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href='./../public/css/style.css'>
</head>

<body>
  <audio src="./../hot.mp3" id="myAudio">
    <embed src="mysound.mp3" hidden="true" loop="false" class="player_audio"/>
  </audio>

  <div class="container">
    <div id="text">
      <h1>The Thermostat</h1>
      <h2>The Tempurature Outside:<span id="current-temp"></span></h2>

      <div class="shadowbox" id="display">
        <h2> Current Tempurature is set to:<span id="thermodisplay"></span></h2>
        <div id="buttons">
          <button id="increase">Increase</button>
          <button id="decrease" type="button">Decrease</button>
          <button id="reset" type="button">Reset</button>
        </div>
        <div id="power-save">
          <h2>Power Saving Mode
            <label class="switch">
              <input type="checkbox">
              <span class="slider round" id='powersavingmode'></span>
            </label>
          </h2>  
        </div> 
      </div>
    </div>

    <div id="city-search">
      <h3><span id="newcity"></span> <span id="current-temperature"></span></h3>
      <form id="select-city">
        <input id = "input-city" type="text" placeholder="Search A City's Temp"></input>
        <input type="submit"></input>
      </form>
    </div>
  </div>


  <div id="myDIV" style="display: none;">
    <img src="./../farmer.jpg" width="450" height="250"> 
    <img src="./../nelly.jpg" width="450" height="250" alt="Nelly">
  </div>

  <!--seperation of concerns -->
  <script src="./../public/thermostat.js" ></script>
  <script src="./../interface.js" > </script>

</body>
