<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style>
body {
    
  background-color: #ffff70;
  max-width: 500px;
  margin: auto;
}
</style>
<body>
<script src="thermostat.js"></script>
<script> thermostat = new Thermostat()</script>

<div class="shadowbox" id="display">
  <p> The Temperature is ... <span id="thermodisplay"> 20</span></p>
</div>
<button id="increase" type="button">Increase</button>
<button id="decrease" type="button">Decrease</button>
<button id="reset" type="button">Reset</button>
<br>
<br>
Power Saving: <label class="switch">
  <input type="checkbox">
  <span class="slider round" id='powersavingmode'></span>
 </label>
</body>