html, 


body {
    
  background-color: rgb(223, 162, 207);
  max-width: 500px;
  margin: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgb(255, 255, 255);
}


.low-usage {
  color: rgb(172, 209, 7);
}

